

<h3> Home: <%=@house.name%> <a href="/houses/<%=@house.id%>/edit">Edit</a></h3>


<form action="/houses/<%=@house.id%>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" name="Delete House" id="Delete House" Value="Delete House">
</form>

  <%@house.rooms.each do |room|%>

    <%if room.house_id == @house.id%>
      <h4>Room: <%=room.name%></h4>
      <h5>Items:</h5>
      <%Item.all.each do |item|%>
        <%if item.room_id == room.id%>
          <p><%=item.name%></p>
        <%end%>
      <%end%>
    <%end%>
  <%end%>


  <h3>Create New Room</h3>
    <form action="/rooms/new" method="POST">
      <p><input type="text" name="name" placeholder="name:" required="true"></p>
      <input type="hidden" name="house_id" value="<%=@house.id%>">
      <input type="submit" value="Create Room">
    </form>

    <h3>Create New Item</h3>
      <form action="/items/new" method="POST">
        <p><input type="text" name="name" placeholder="name:" required="true"></p>
        <p><input type="date" name="purchase_date" placeholder="Purchase Date:"></p>
        <p><input type="number" name="value" placeholder="Value" ></p>
        <input type="hidden" name="house_id" value="<%=@house.id%>">
        <% @house.rooms.each do |room| %>
          <label><%= room.name %></label>
          <input type="radio" name="room_id" value="<%=room.id%>" required="true">
          <%end%>
        <input type="submit" value="Create Item">
      </form>

    <h3>Upload Picture or Receipt</h3>
      <form action="/items/upload" method="POST" enctype="multipart/form-data">
      <p><input type="file" name="file" ></p>
      <input type="hidden" name="house_id" value="<%=@house.id%>">
      <%#binding.pry%>
                <input list="items" name="item">
                  <datalist id="items">
                    <%@house.items.each do |item|%>
                      <option name="item_name" value="<%=item.name%>">
                    <%end%>
                  </datalist>
      <input type="submit" value="Upload Item">
      </form>
