
<div id="flash">
<% if flash.has?(:message) %>
  <h3 style="color:red;"><%= flash[:message] %></h3>
<% elsif flash.has?(:house_success)%>
  <h3 style="color:red;"><%= flash[:house_success] %></h3>
<% end %>
</div>

<div class="row">
  <div class="col-sm-6">

    <h3 class="display"> Home: <%=@house.name%> </h3>

    <form action="/houses/<%=@house.id%>/edit" method="POST" class="display">
      <input type="submit" name="Edit" id="Edit" Value="Edit">
    </form>

    <form action="/houses/<%=@house.id%>/delete" method="POST" class="display">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" name="Delete" id="Delete" Value="Delete">
    </form>

      <%@house.rooms.each do |room|%>

        <%if room.house_id == @house.id%>
          <h4 >Room: <%=room.name%></h4>

          <form action="/rooms/<%=room.id%>/edit" method="POST" class="display">
            <input type="submit" name="Edit" id="Edit" Value="Edit">
          </form>

          <form action="/rooms/<%=room.id%>/delete" method="POST" class="display">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" name="Delete" id="Delete" Value="Delete">
          </form>

        <%end%>
      <%end%>
    </div>
    <div class="col-sm-6">

      <h3>Create New Room</h3>
        <form action="/rooms/new" method="POST">
          <p>Name <input type="text" name="name" placeholder="Room Name" required="true"></p>
          <input type="hidden" name="house_id" value="<%=@house.id%>">
          <input type="submit" value="Create Room">
        </form>
      </div>
</div>
