
<h3> Edit Item </h3>
<form action="/items/<%=@item.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<p><input type="text" name="name" value="<%=@item.name%>" required="true"></p>
<p><input type="date" name="purchase_date" value="<%=@item.purchase_date%>"></p>
<p><input type="number" name="value" value="<%=@item.value%>" ></p>
<p><input type="text" name="serial_number" value="<%=@item.serial_number%>" ></p>
<% @user.rooms.each do |room| %>
  <label><%= room.name %></label>
  <input type="radio" name="room_id" value="<%=room.id%>" required="true">
  <%end%>
<input type="submit" value="Save" id="submit">
</form>
